body {
    background-image: url("./media/black-and-blue.jpg");
    background-color: lightslategray;

}

#about-me {

    font-weight: 500;
}

.card {

    background-color: #3FB8FD;
    margin: 10px 10px 10px;
}

#contactme {

    margin-top: 20px;
}

.portTitle {

    color: whitesmoke;
}

.port-card {

    font-weight: 600;
}


.link {
    color: black;
}

.link:visited {
    color: black;
}
